<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addbookServlet</servlet-name>
        <servlet-class>com.QI.servlet.addbookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>com.QI.servlet.uploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buyServlet</servlet-name>
        <servlet-class>com.QI.servlet.buyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookServlet</servlet-name>
        <servlet-class>com.QI.servlet.bookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addpersonServlet</servlet-name>
        <servlet-class>com.QI.servlet.addpersonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>discountServlet</servlet-name>
        <servlet-class>com.QI.servlet.discountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addstudentServlet</servlet-name>
        <servlet-class>com.QI.servlet.addstudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletebookServlet</servlet-name>
        <servlet-class>com.QI.servlet.deletebookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletestudentServlet</servlet-name>
        <servlet-class>com.QI.servlet.deletestudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.QI.servlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>querybookServlet</servlet-name>
        <servlet-class>com.QI.servlet.querybookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>querystudentServlet</servlet-name>
        <servlet-class>com.QI.servlet.querystudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatebookServlet</servlet-name>
        <servlet-class>com.QI.servlet.updatebookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateokbookServlet</servlet-name>
        <servlet-class>com.QI.servlet.updateokbookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>topupServlet</servlet-name>
        <servlet-class>com.QI.servlet.topupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileServlet</servlet-name>
        <servlet-class>com.QI.servlet.profileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateokstudentServlet</servlet-name>
        <servlet-class>com.QI.servlet.updateokstudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatestudentServlet</servlet-name>
        <servlet-class>com.QI.servlet.updatestudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mybookServlet</servlet-name>
        <servlet-class>com.QI.servlet.mybookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addbookServlet</servlet-name>
        <url-pattern>/addbookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buyServlet</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>topupServlet</servlet-name>
        <url-pattern>/topup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addpersonServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mybookServlet</servlet-name>
        <url-pattern>/mybook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookServlet</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>discountServlet</servlet-name>
        <url-pattern>/discount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addstudentServlet</servlet-name>
        <url-pattern>/addstudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletebookServlet</servlet-name>
        <url-pattern>/deletebookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletestudentServlet</servlet-name>
        <url-pattern>/deletestudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>querybookServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>querystudentServlet</servlet-name>
        <url-pattern>/querystudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatebookServlet</servlet-name>
        <url-pattern>/updatebookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateokbookServlet</servlet-name>
        <url-pattern>/updateokbookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateokstudentServlet</servlet-name>
        <url-pattern>/updateokstudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatestudentServlet</servlet-name>
        <url-pattern>/updatestudentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
